[submodule "libs/Catch"]
	path = libs/Catch
	url = https://github.com/catchorg/Catch2.git
[submodule "libs/getopt-for-windows"]
	path = libs/getopt-for-windows
	url = https://github.com/Chunde/getopt-for-windows.git
[submodule "libs/rapidjson"]
	path = libs/rapidjson
	url = https://github.com/Tencent/rapidjson.git
[submodule "libs/spdlog"]
	path = libs/spdlog
	url = https://github.com/gabime/spdlog.git
